# OS cruft
.DS_Store
Thumbs.db

# Editors
*.swp

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
*_pb2.*
*_pb.*
*_processed.json
.pytest_cache/

# Virtual environments
.venv/
env/
venv/
ENV/

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
closure-error.log

# MkDocs
.cache/
site/
dist/
lighthouse-report/
.lighthouseci/
*.log

# IDEs & Editors
.vscode/
.idea/
.bin/
