# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Ensure consistent diff for docs
*.md diff=markdown eol=lf
*.yml diff=yaml eol=lf
*.json diff=json eol=lf

*.js diff=js eol=lf
*.css diff=css eol=lf
*.html diff=html eol=lf
*.svg diff=svg eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.webp binary
*.ico binary
*.pdf binary
*.zip binary
*.gz  binary
*.7z  binary
*.mp4 binary
*.mp3 binary
*.ogg binary

# Do not include dev directories in archive exports
/.cache  export-ignore
/.github export-ignore
/.vscode export-ignore
/.idea   export-ignore
