# Auto detect text files and perform LF normalization
* text=auto

# Ensure consistent diff for docs
*.md diff=markdown
*.yml diff=yaml
*.json diff=json

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.gz binary
