mkdocs>=1.6.0
mkdocs-material[imaging]>=9.5.20
mkdocs-material-extensions>=1.3.0
mkdocs-minify-plugin>=0.8.0
mkdocs-document-dates>=1.0.0
mkdocs-git-revision-date-localized-plugin>=1.3.0
mkdocs-redirects>=1.2.0
mkdocs-htmlproofer-plugin>=0.13.0
mkdocs-static-i18n>=1.3.0
beautifulsoup4>=4.12.0
cairosvg>=2.7.0
cairocffi>=1.7.0
cffi>=1.17.0
tinycss2>=1.3.0
cssselect2>=0.7.0
pillow>=10.4.0

# Dev tools
black>=24.8.0
flake8>=7.1.0
yamllint>=1.35.0
pytest>=7.0.0
coverage>=7.0.0
coverage-badge>=1.1.0
playwright
