mkdocs
mkdocs-material[imaging]
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-document-dates
mkdocs-git-revision-date-localized-plugin
mkdocs-redirects
mkdocs-htmlproofer-plugin
mkdocs-static-i18n
beautifulsoup4
cairosvg
cairocffi
cffi
tinycss2
cssselect2
pillow

# Dev tools
black
flake8
yamllint
pytest
